$active-color:#3C9BFD;
$body-color:#FFFFFF;
$background-color:#f0f4f8;
$font-color:#2F2727;
$font-family: 'Source Sans Pro', sans-serif;
$font-gray:#7f92a9;
$footer-color:#324258;
$primary-color:#ffffff;
$tag-green:#56D48F;
