@import 'layout/_header.scss';
@import 'layout/_leftSideBar.scss';
@import 'layout/_grid.scss';
@import 'layout/_footer.scss';

body {
    background-color: $background-color;
    color: $font-color;
    font-family: $font-family;
    margin: 0;
    width: 100%;
    height: 100%;
}

section {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;

    ul {
        padding: 25px 0;
        margin: 0;
    }

    .container {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .breadcrumb {
        width: 50%;

        li {
            display: inline;
            font-size: 15px;
            font-weight: 500;
            color: $secondary-color;

            a {
                &:hover {
                    color: $secondary-color;
                }
            }
        }

        li+li:before {
            padding: 0;
            color: $font-color;
            content: "/\00a0";
        }
    }

    .grid-view {
        text-align: right;
        width: 50%;
        display: block;

        .pad-right {
            padding-right: 20px;
        }

        .current-select {
            color: $secondary-color;
        }

        .big-icon {
            font-size: 20px;
        }
    }

    .list-view {
        text-align: right;
        width: 50%;
        display: none;

        .pad-right {
            padding-right: 20px;
        }

        .current-select {
            color: $secondary-color;
        }

        .big-icon {
            font-size: 20px;
        }
    }
}

.pagination {
    background-color: $primary-color;

    .container {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        font-size: 12px;
        font-weight: 400;
        padding: 30px 0 60px;
    }

    .page-message {
        float: left;
        text-align: left;
        font-size: 14px;
        font-weight: 400;
    }

    .pages {
        float: right;

        a {
            color: $paginate-color;
            font-size: 20px;
            font-weight: 400;
            padding: 2px 5px;

            &.active {
                background-color: $secondary-color;
                color: $primary-color;
            }
        }
    }
}

.form-container {
    display: table;
    font-size: 14px;
    position: fixed;
    height: 100%;
    width: 100%;
}

.form-content {
    text-align: left;
    display: table-cell;
    width :90%;

    form {
        margin: 0 auto;
        position: relative;
        width: 60%;
    }

    i {
        cursor: pointer;
        font-size: 18px;
    }

    label {
        padding-right: 10px;
        vertical-align: top;
    }

    input,
    textarea,
    select {
        margin-right: 10px;
    }

    .align-div-10 {
        float: left;
        width: 10%;
    }

    .align-div-25 {
        float: left;
        width: 25%;
    }

    .align-div-65 {
        float: left;
        width: 65%;
    }

    .main-div-align {
        display: inline-block;
        padding: 10px;
        position: relative;
        width: 100%;
    }

    .margin-top-5 {
        margin-top: 5px;
    }
}

.def-button {
    background-color: $form-build-primary-color;
    border-radius: 5px;
    border: 1px solid transparent;
    color: $form-build-font-color;
    cursor: pointer;
    font-size: 14px;
    padding: 6px 6px;
    margin-top: 1%;
}

.convert-button {
    @extend .def-button;
    margin-left: 38%;
}

.change-button {
    @extend .def-button;
    margin-left: 50%;
}

.form-input {
    display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: $form-build-font-inp-color;
    background-color: $form-build-secondary-color;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.input-text {
    @extend .form-input;
    height: 25px;
    width: 80%;
}

.input-text-modal {
    @extend .form-input;
    height: 25px;
    width: 50%;
}

.input-select {
    @extend .form-input;
    height: 30px;
    width: 80%;
}

.input-textarea {
    @extend .form-input;
    height: 50px;
    width: 80%;
}

/* Modal Content */
.modal-content {
    position: absolute;
    display: none;
    z-index: 1;
    top: 10%;
    background-color: #fefefe;
    overflow: auto;
    width: 40%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    margin-left: 400px;
}

/* The Close Button */
.dismiss {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    &:hover,&:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-header {
    background-color: $form-build-primary-color;
    color: $form-build-font-color;
    padding: 2px 16px;
    text-align: center;
}

.modal-body {
    padding: 15px 15px;

    .mod-main-div {
        padding-bottom: 5px;
        position: relative;
        display: inline-block;
        width: 100%;
    }

    .mod-div-15 {
        float: left;
        width: 15%;
    }

    .mod-div-85 {
        float: left;
        width: 85%;
    }
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@media screen and (max-width: 768px) {
    section {

        .breadcrumb {

            li {
                font-size: 12px;
            }
        }

        .list-view {
            display: block;
        }

        .grid-view {
            display: none;
        }
    }
}

@media screen and (max-width: 430px) {
    .pagination {

        .page-message {
            width: 100%;
            text-align: center;
            font-size: 14px;
            padding-bottom: 10px;
        }

        .pages {
            width: 100%;
            text-align: center;

            a {
                font-size: 12px;
            }
        }
    }
}
