a {
  color: #2F2727;
  text-decoration: none; }

header {
  background: #FFFFFF;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 25px 0;
  width: 100%; }
  header .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }

i {
  margin-left: 5px; }

.header-logo {
  display: inline;
  width: 30%; }
  .header-logo img {
    max-width: 150px;
    max-height: 30px; }

.header-menu {
  float: right;
  text-align: right;
  width: 70%; }
  .header-menu a {
    font-size: 15px;
    padding-left: 20px;
    text-transform: uppercase; }
    .header-menu a.hover-color {
      color: #3C9BFD; }

.header-icon {
  display: none; }

@media screen and (max-width: 1030px) {
  .header-menu a {
    font-size: 12px; } }

@media screen and (max-width: 768px) {
  .header-menu {
    display: none; }
  .header-icon {
    float: right;
    text-align: right;
    width: 70%;
    display: block; } }

.form-left-side-bar {
  background-color: #4C5566;
  display: table-cell;
  font-size: 14px;
  align-content: center;
  align-items: center;
  margin: 0;
  width: 10%; }
  .form-left-side-bar ul {
    margin-top: 50px;
    padding: 0; }
  .form-left-side-bar li {
    list-style: none;
    color: #E7EBEF;
    cursor: pointer;
    border-bottom: 1px solid #7B7E84;
    padding: 15px 15px;
    position: relative; }
    .form-left-side-bar li i {
      position: absolute;
      right: 30px;
      top: 17px; }

.profile-cards-grid .container {
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  width: 80%; }

.profile-cards-grid .profile-card-title {
  width: 100%;
  margin: 0;
  text-align: center; }
  .profile-cards-grid .profile-card-title h3 {
    margin: 0;
    padding: 25px 0; }

.profile-cards-grid .profile-card-content {
  display: inline-block;
  width: 100%; }
  .profile-cards-grid .profile-card-content .profile-card {
    background-color: #FFFFFF;
    float: left;
    height: 500px;
    margin-top: 25px;
    margin-left: 4.33%;
    position: relative;
    text-align: center;
    width: 30%; }
    .profile-cards-grid .profile-card-content .profile-card:first-child {
      margin-left: 0; }
    .profile-cards-grid .profile-card-content .profile-card:nth-child(3n+1) {
      margin-left: 0; }
  .profile-cards-grid .profile-card-content .profile-rate {
    padding-top: 30px;
    height: 35px; }
    .profile-cards-grid .profile-card-content .profile-rate button {
      background-color: #56D48F;
      border: none;
      border-radius: 25px;
      color: #FFFFFF;
      float: left;
      font-size: 15px;
      font-weight: 500;
      padding: 8px;
      margin-left: 30px; }
    .profile-cards-grid .profile-card-content .profile-rate h5 {
      float: right;
      font-size: 15px;
      font-weight: 800;
      margin: 0;
      padding-top: 8px;
      padding-right: 38px; }
  .profile-cards-grid .profile-card-content .profile-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .profile-cards-grid .profile-card-content .profile-info {
    padding-top: 15px; }
    .profile-cards-grid .profile-card-content .profile-info h5 {
      margin-bottom: 5px;
      margin-top: 10px;
      font-size: 18px;
      font-weight: 800; }
      .profile-cards-grid .profile-card-content .profile-info h5:hover {
        color: #3C9BFD;
        cursor: pointer; }
    .profile-cards-grid .profile-card-content .profile-info h6 {
      margin-bottom: 5px;
      margin-top: 10px;
      font-size: 12px;
      font-weight: 200; }
    .profile-cards-grid .profile-card-content .profile-info .fnt-bl-clr {
      color: #3C9BFD; }
    .profile-cards-grid .profile-card-content .profile-info .fnt-gn-clr {
      color: #56D48F; }
  .profile-cards-grid .profile-card-content .profile-skill {
    padding: 10px 20px; }
    .profile-cards-grid .profile-card-content .profile-skill button {
      background-color: #FFFFFF;
      border: 1px solid #ced9ee;
      border-radius: 25px;
      font-size: 12px;
      font-weight: 500;
      padding: 10px; }
      .profile-cards-grid .profile-card-content .profile-skill button:hover {
        background-color: #3C9BFD;
        color: #FFFFFF;
        cursor: pointer; }
      .profile-cards-grid .profile-card-content .profile-skill button.more-skill {
        background-color: #3C9BFD;
        color: #FFFFFF; }
  .profile-cards-grid .profile-card-content .profile-bio {
    margin: 0 20px 0 20px; }
    .profile-cards-grid .profile-card-content .profile-bio p {
      padding: 10px 20px;
      margin: 0;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 15px; }
  .profile-cards-grid .profile-card-content .profile-view {
    font-size: 14px;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 0;
    margin-top: 20px;
    text-transform: uppercase;
    font-weight: 700; }
    .profile-cards-grid .profile-card-content .profile-view:hover {
      background-color: #3C9BFD;
      cursor: pointer; }
      .profile-cards-grid .profile-card-content .profile-view:hover a {
        color: #FFFFFF; }
    .profile-cards-grid .profile-card-content .profile-view:before {
      background-color: #C6BFBF;
      content: '';
      display: block;
      height: 1px;
      margin: 0 35%;
      position: absolute;
      top: 0;
      width: 30%; }

@media screen and (max-width: 1030px) {
  .profile-cards-grid .profile-card-content .profile-avatar img {
    width: 120px;
    height: 120px; } }

@media screen and (max-width: 768px) {
  .profile-cards-grid .profile-card-content .profile-card {
    margin-left: 0;
    width: 100%; } }

@media screen and (max-width: 430px) {
  .profile-cards-grid .profile-card-content .profile-avatar img {
    width: 80px;
    height: 80px; } }

footer {
  background-color: #324258;
  bottom: 0;
  color: #FFFFFF;
  height: 230px; }
  footer ul {
    list-style-type: none;
    padding: 0; }
  footer li {
    color: #A6B8D2;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px; }
    footer li:hover {
      color: #FFFFFF;
      cursor: pointer; }
  footer h5 {
    color: #FFFFFF;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  footer .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }
  footer .footer-logo {
    display: inline;
    width: 30%;
    margin-top: 20px; }
    footer .footer-logo img {
      max-width: 150px;
      max-height: 30px; }
  footer .div-connect {
    width: 25%;
    float: left; }
    footer .div-connect i {
      cursor: pointer;
      margin-right: 25px; }
  footer .div-about,
  footer .div-company,
  footer .div-contact {
    width: 15%;
    float: left; }

@media screen and (max-width: 430px) {
  footer {
    height: 460px; }
    footer .container {
      display: block; }
    footer .footer-logo {
      float: left;
      width: 100%; }
    footer .div-about,
    footer .div-contact {
      float: left;
      width: 50%; }
    footer .div-company .div-connect {
      float: right;
      width: 50%; }
    footer .div-connect i {
      margin-bottom: 25px; } }

body {
  background-color: #F0F4F8;
  color: #2F2727;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  width: 100%;
  height: 100%; }

section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%; }
  section ul {
    padding: 25px 0;
    margin: 0; }
  section .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }
  section .breadcrumb {
    width: 50%; }
    section .breadcrumb li {
      display: inline;
      font-size: 15px;
      font-weight: 500;
      color: #3C9BFD; }
      section .breadcrumb li a:hover {
        color: #3C9BFD; }
    section .breadcrumb li + li:before {
      padding: 0;
      color: #2F2727;
      content: "/\00a0"; }
  section .grid-view {
    text-align: right;
    width: 50%;
    display: block; }
    section .grid-view .pad-right {
      padding-right: 20px; }
    section .grid-view .current-select {
      color: #3C9BFD; }
    section .grid-view .big-icon {
      font-size: 20px; }
  section .list-view {
    text-align: right;
    width: 50%;
    display: none; }
    section .list-view .pad-right {
      padding-right: 20px; }
    section .list-view .current-select {
      color: #3C9BFD; }
    section .list-view .big-icon {
      font-size: 20px; }

.pagination {
  background-color: #FFFFFF; }
  .pagination .container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 12px;
    font-weight: 400;
    padding: 30px 0 60px; }
  .pagination .page-message {
    float: left;
    text-align: left;
    font-size: 14px;
    font-weight: 400; }
  .pagination .pages {
    float: right; }
    .pagination .pages a {
      color: #807B7B;
      font-size: 20px;
      font-weight: 400;
      padding: 2px 5px; }
      .pagination .pages a.active {
        background-color: #3C9BFD;
        color: #FFFFFF; }

.form-container {
  display: table;
  font-size: 14px;
  position: fixed;
  height: 100%;
  width: 100%; }

.form-content {
  text-align: left;
  display: table-cell;
  width: 90%; }
  .form-content form {
    margin: 0 auto;
    position: relative;
    width: 60%; }
  .form-content i {
    cursor: pointer;
    font-size: 18px; }
  .form-content label {
    padding-right: 10px;
    vertical-align: top; }
  .form-content input,
  .form-content textarea,
  .form-content select {
    margin-right: 10px; }
  .form-content .align-div-10 {
    float: left;
    width: 10%; }
  .form-content .align-div-25 {
    float: left;
    width: 25%; }
  .form-content .align-div-65 {
    float: left;
    width: 65%; }
  .form-content .main-div-align {
    display: inline-block;
    padding: 10px;
    position: relative;
    width: 100%; }
  .form-content .margin-top-5 {
    margin-top: 5px; }

.def-button, .convert-button, .change-button {
  background-color: #4C5566;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #E7EBEF;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 6px;
  margin-top: 1%; }

.convert-button {
  margin-left: 38%; }

.change-button {
  margin-left: 50%; }

.form-input, .input-text, .input-text-modal, .input-select, .input-textarea {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #393A3C;
  background-color: #FFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

.input-text {
  height: 25px;
  width: 80%; }

.input-text-modal {
  height: 25px;
  width: 50%; }

.input-select {
  height: 30px;
  width: 80%; }

.input-textarea {
  height: 50px;
  width: 80%; }

/* Modal Content */
.modal-content {
  position: absolute;
  display: none;
  z-index: 1;
  top: 10%;
  background-color: #fefefe;
  overflow: auto;
  width: 40%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
  margin-left: 400px; }

/* The Close Button */
.dismiss {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold; }
  .dismiss:hover, .dismiss:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer; }

.modal-header {
  background-color: #4C5566;
  color: #E7EBEF;
  padding: 2px 16px;
  text-align: center; }

.modal-body {
  padding: 15px 15px; }
  .modal-body .mod-main-div {
    padding-bottom: 5px;
    position: relative;
    display: inline-block;
    width: 100%; }
  .modal-body .mod-div-15 {
    float: left;
    width: 15%; }
  .modal-body .mod-div-85 {
    float: left;
    width: 85%; }

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0; }
  to {
    bottom: 0;
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@media screen and (max-width: 768px) {
  section .breadcrumb li {
    font-size: 12px; }
  section .list-view {
    display: block; }
  section .grid-view {
    display: none; } }

@media screen and (max-width: 430px) {
  .pagination .page-message {
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-bottom: 10px; }
  .pagination .pages {
    width: 100%;
    text-align: center; }
    .pagination .pages a {
      font-size: 12px; } }
