header {
  background: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 25px 0;
  width: 100%; }
  header .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }

i {
  margin-left: 5px; }

.header-logo {
  display: inline;
  width: 30%; }
  .header-logo img {
    width: 200px; }

.header-menu {
  float: right;
  text-align: right;
  width: 70%; }
  .header-menu a {
    color: #2F2727;
    font-weight: 500;
    font-size: 15px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase; }
    .header-menu a.hover-color {
      color: #3C9BFD; }

footer {
  background-color: #324258;
  bottom: 0;
  color: #FFFFFF;
  height: 230px; }
  footer ul {
    list-style-type: none;
    padding: 0; }
  footer li {
    color: #a6b8d2;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px; }
    footer li:hover {
      color: #ffffff;
      cursor: pointer; }
  footer h5 {
    color: #ffffff;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase; }
  footer .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }
  footer .footer-logo {
    display: inline;
    width: 30%;
    margin-top: 20px; }
    footer .footer-logo img {
      width: 200px; }
  footer .div-connect {
    width: 25%;
    float: left; }
    footer .div-connect i {
      cursor: pointer;
      margin-right: 25px; }
  footer .div-about,
  footer .div-company,
  footer .div-contact {
    width: 15%;
    float: left; }

body {
  background-color: #FFFFFF;
  color: #2F2727;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0; }

section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  width: 100%; }
  section ul {
    padding: 25px 0;
    margin: 0; }
  section .container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; }
  section .breadcrumb {
    width: 50%; }
    section .breadcrumb li {
      display: inline;
      font-size: 15px;
      font-weight: 500;
      color: #3C9BFD; }
      section .breadcrumb li a {
        color: #2F2727;
        text-decoration: none; }
        section .breadcrumb li a:hover {
          color: #3C9BFD; }
    section .breadcrumb li + li:before {
      padding: 0;
      color: #2F2727;
      content: "/\00a0"; }
  section .list-view {
    text-align: right;
    width: 50%; }
    section .list-view .pad-right {
      padding-right: 20px; }
    section .list-view .current-list {
      color: #3C9BFD; }
    section .list-view .big-icon {
      font-size: 20px; }

.profile-cards-grid {
  background-color: #f0f4f8; }
  .profile-cards-grid .container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 30px;
    width: 80%; }
  .profile-cards-grid .profile-card-title {
    width: 100%;
    margin: 0;
    text-align: center; }
    .profile-cards-grid .profile-card-title h3 {
      margin: 0;
      padding: 25px 0; }
  .profile-cards-grid .profile-card-content {
    display: inline-block;
    width: 100%; }
    .profile-cards-grid .profile-card-content .profile-card {
      background-color: #FFFFFF;
      float: left;
      margin-top: 25px;
      margin-left: 4.33%;
      text-align: center;
      width: 30%; }
      .profile-cards-grid .profile-card-content .profile-card:first-child {
        margin-left: 0; }
      .profile-cards-grid .profile-card-content .profile-card:nth-child(3n+1) {
        margin-left: 0; }
    .profile-cards-grid .profile-card-content .profile-rate {
      padding-top: 30px;
      height: 35px; }
      .profile-cards-grid .profile-card-content .profile-rate button {
        background-color: #56D48F;
        border: none;
        border-radius: 25px;
        color: #fff;
        float: left;
        font-size: 15px;
        font-weight: 500;
        padding: 8px;
        margin-left: 30px; }
      .profile-cards-grid .profile-card-content .profile-rate h5 {
        float: right;
        font-size: 15px;
        font-weight: 800;
        margin: 0;
        padding-top: 8px;
        padding-right: 38px; }
    .profile-cards-grid .profile-card-content .profile-avatar img {
      width: 150px;
      height: 150px;
      border-radius: 50%; }
    .profile-cards-grid .profile-card-content .profile-info {
      padding-top: 15px; }
      .profile-cards-grid .profile-card-content .profile-info h5 {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 800; }
        .profile-cards-grid .profile-card-content .profile-info h5:hover {
          color: #3C9BFD;
          cursor: pointer; }
      .profile-cards-grid .profile-card-content .profile-info h6 {
        margin-bottom: 5px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 200; }
      .profile-cards-grid .profile-card-content .profile-info .fnt-bl-clr {
        color: #3C9BFD; }
      .profile-cards-grid .profile-card-content .profile-info .fnt-gn-clr {
        color: #56D48F; }
    .profile-cards-grid .profile-card-content .profile-skill {
      padding: 10px 20px; }
      .profile-cards-grid .profile-card-content .profile-skill button {
        background-color: #ffffff;
        border: 1px solid #ced9ee;
        border-radius: 25px;
        font-size: 12px;
        font-weight: 500;
        padding: 10px; }
        .profile-cards-grid .profile-card-content .profile-skill button:hover {
          background-color: #3C9BFD;
          color: #ffffff;
          cursor: pointer; }
        .profile-cards-grid .profile-card-content .profile-skill button.more-skill {
          background-color: #3C9BFD;
          color: #ffffff; }
    .profile-cards-grid .profile-card-content .profile-bio {
      margin: 0 20px 0 20px; }
      .profile-cards-grid .profile-card-content .profile-bio p {
        padding: 10px 20px;
        margin: 0;
        font-size: 12px;
        font-weight: 500;
        margin-bottom: 15px; }
    .profile-cards-grid .profile-card-content .profile-view {
      font-size: 14px;
      width: 100%;
      padding-top: 30px;
      padding-bottom: 30px;
      position: relative;
      bottom: 0;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 700; }
      .profile-cards-grid .profile-card-content .profile-view a {
        color: #2F2727;
        text-decoration: none; }
      .profile-cards-grid .profile-card-content .profile-view:hover {
        background-color: #3C9BFD;
        cursor: pointer; }
        .profile-cards-grid .profile-card-content .profile-view:hover a {
          color: #fff; }
      .profile-cards-grid .profile-card-content .profile-view:before {
        background-color: #C6BFBF;
        content: '';
        display: block;
        height: 1px;
        margin: 0 0 5px 175px;
        position: absolute;
        top: 0;
        width: 25%; }

.pagination {
  background-color: #ffffff; }
  .pagination .container {
    display: block;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    font-size: 12px;
    font-weight: 400;
    padding: 30px 0px 60px; }
  .pagination .page-message {
    float: left;
    text-align: left;
    font-size: 14px;
    font-weight: 400; }
  .pagination .pages {
    float: right; }
    .pagination .pages a {
      font-size: 20px;
      font-weight: 400;
      color: #7f92a9;
      padding: 2px 5px;
      text-decoration: none; }
      .pagination .pages a.active {
        background-color: #3C9BFD;
        color: #fff; }
