$font-color: #2F2727;
$font-family: 'Source Sans Pro', sans-serif;
$form-build-font-color: #E7EBEF;
$form-build-font-inp-color: #393A3C;
$form-build-primary-color: #4C5566;
$form-build-secondary-color: #FFF;
$background-color: #F0F4F8;
$before-line-color: #C6BFBF;
$footer-color: #324258;
$footer-li-color: #A6B8D2;
$green-color: #56D48F;
$paginate-color: #807B7B;
$primary-color: #FFFFFF;
$secondary-color: #3C9BFD;
