footer {
    background-color: $footer-color;
    bottom: 0;
    color: $primary-color;
    height: 230px;

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        color: $footer-li-color;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 15px;

        &:hover {
            color: $primary-color;
            cursor: pointer;
        }
    }

    h5 {
        color: $primary-color;
        font-family: $font-family;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .container {
        display: flex;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    .footer-logo {
        display: inline;
        width: 30%;
        margin-top: 20px;

        img {
            max-width: 150px;
            max-height: 30px;
        }
    }

    .div-connect {
        width: 25%;
        float: left;

        i {
            cursor: pointer;
            margin-right: 25px;
        }
    }

    .div-about,
    .div-company,
    .div-contact {
        width: 15%;
        float: left;
    }
}

@media screen and (max-width: 430px) {
    footer {
        height: 460px;

        .container {
            display: block;
        }

        .footer-logo {
            float: left;
            width: 100%;
        }

        .div-about,
        .div-contact {
            float: left;
            width: 50%;
        }

        .div-company
        .div-connect {
            float: right;
            width: 50%;
        }

        .div-connect {

            i {
                margin-bottom: 25px;
            }
        }
    }
}
