.profile-cards-grid {
    .container {
        display: block;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 30px;
        width: 80%;
    }
    .profile-card-title {
        width: 100%;
        margin: 0;
        text-align: center;
        h3 {
            margin: 0;
            padding: 25px 0;
        }
    }
    .profile-card-content {
        display: inline-block;
        width: 100%;
        .profile-card {
            background-color: $primary-color;
            float: left;
            height: 500px;
            margin-top: 25px;
            margin-left: 4.33%;
            position: relative;
            text-align: center;
            width: 30%;
            &:first-child {
                margin-left: 0;
            }
            &:nth-child(3n+1) {
                margin-left: 0;
            }
        }
        .profile-rate {
            padding-top: 30px;
            height: 35px;

            button {
                background-color: $green-color;
                border: none;
                border-radius: 25px;
                color: $primary-color;
                float: left;
                font-size: 15px;
                font-weight: 500;
                padding: 8px;
                margin-left: 30px;
            }

            h5 {
                float: right;
                font-size: 15px;
                font-weight: 800;
                margin: 0;
                padding-top: 8px;
                padding-right: 38px;
            }
        }
        .profile-avatar {
            img {
                width: 150px;
                height: 150px;
                border-radius: 50%;
            }
        }
        .profile-info {
            padding-top: 15px;
            h5 {
                margin-bottom: 5px;
                margin-top: 10px;
                font-size: 18px;
                font-weight: 800;
                &:hover {
                    color: $secondary-color;
                    cursor: pointer;
                }
            }
            h6 {
                margin-bottom: 5px;
                margin-top: 10px;
                font-size: 12px;
                font-weight: 200;
            }
            .fnt-bl-clr {
                color: $secondary-color;
            }
            .fnt-gn-clr {
                color: $green-color;
            }
        }
        .profile-skill {
            padding: 10px 20px;
            button {
                background-color: $primary-color;
                border: 1px solid #ced9ee;
                border-radius: 25px;
                font-size: 12px;
                font-weight: 500;
                padding: 10px;
                &:hover {
                    background-color: $secondary-color;
                    color: $primary-color;
                    cursor: pointer;
                }
                &.more-skill {
                    background-color: $secondary-color;
                    color: $primary-color;
                }
            }
        }
        .profile-bio {
            margin: 0 20px 0 20px;
            p {
                padding: 10px 20px;
                margin: 0;
                font-size: 12px;
                font-weight: 500;
                margin-bottom: 15px;
            }
        }
        .profile-view {
            font-size: 14px;
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
            position: absolute;
            bottom: 0;
            margin-top: 20px;
            text-transform: uppercase;
            font-weight: 700;
            &:hover {
                background-color: $secondary-color;
                cursor: pointer;
                a {
                    color: $primary-color;
                }
            }
            &:before {
                background-color: $before-line-color;
                content: '';
                display: block;
                height: 1px;
                margin: 0 35%;
                position: absolute;
                top: 0;
                width: 30%;
            }
        }
    }
}
@media screen and (max-width: 1030px) {
    .profile-cards-grid {
        .profile-card-content {
            .profile-avatar {
                img {
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .profile-cards-grid {
        .profile-card-content {
            .profile-card {
                margin-left: 0;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 430px) {
    .profile-cards-grid {
        .profile-card-content {
            .profile-avatar {
                img {
                    width: 80px;
                    height:80px;
                }
            }
        }
    }
}
